<!-- Home Section Start -->

<section class="home" id="home">
  <div class="image">
    <img src="../../assets/images/Doctors (3).gif" />
  </div>

  <div class="content">
    <h3>Stay Safe Stay Healthy</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo
      odio quaerat fuga, ad eaque aliquam tempora! Magni quo facere consequuntur
      ad reprehenderit sed deserunt doloremque, magnam perspiciatis! Excepturi,
      voluptatem.
    </p>
    <a href="#" class="btn">
      Contact us <span class="fas fa-chevron-right"></span
    ></a>
  </div>
</section>
<!-- Home Section End -->

<!-- icon section start -->
<section class="icons-container">
  <div class="icons">
    <i class="fas fa-user-md"></i>
    <h3>150+</h3>
    <p>DOCTORS AT WORK</p>
  </div>

  <div class="icons">
    <i class="fas fa-procedures"></i>
    <h3>150+</h3>
    <p>BED FACILITY</p>
  </div>

  <div class="icons">
    <i class="fas fa-hospital"></i>
    <h3>500+</h3>
    <p>HOSPITAL FACILITY</p>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <h3>1050+</h3>
    <p>SATISFIED PATIENTS</p>
  </div>

  <div class="icons">
    <i class="fas fa-ambulance"></i>
    <h3>50+</h3>
    <p>AMBULANCE</p>
  </div>

  <div class="icons">
    <i class="fa-sharp fa-solid fa-syringe"></i>
    <h3>150+</h3>
    <p>HOSPITAL SYRING</p>
  </div>

  <div class="icons">
    <i class="fas fa-file-text"></i>
    <h3>150+</h3>
    <p>MEDICLAIM</p>
  </div>

  <div class="icons">
    <i class="fas fa-thermometer-empty"></i>
    <h3>500+</h3>
    <p>MEDCARE</p>
  </div>

  <div class="icons">
    <i class="fas fa-wheelchair"></i>
    <h3>1050+</h3>
    <p>SATISFIED PATIENTS</p>
  </div>

  <div class="icons">
    <i class="fas fa-medkit"></i>
    <h3>50+</h3>
    <p>FIRST AID</p>
  </div>
</section>
<!-- icon section end -->
