<!-- About section start -->
<section class="about" id="about">
  <h3 class="heading"><span>ABOUT</span>US</h3>
  <div class="row">
    <div class="image">
      <img src="../../assets/images/Health professional team (4).gif" alt="" />
    </div>
    <div class="content">
      <h3>
        We Take Care of your<br />
        healthy life
      </h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste repellat
        corporis nostrum neque ab similique, sunt repudiandae.
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span
      ></a>
    </div>
  </div>
</section>
<!-- About section ends -->
