<!-- blogs section start -->

<section class="blogs" id="blogs">
  <h1 class="heading">Our<span>Blogs</span></h1>
  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="../../assets/images/blogs.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/blogs1.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/Abortion-amico.svg" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/Ambulance.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/Hospital bed.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/Hospital wheelchair-amico.svg" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../assets/images/Medical prescription.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../assets/images/CT scan.gif" alt />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"><i class="fas fa-calendar"></i>1st May, 2023</a>
          <a href="#"><i class="fas fa-users"></i>By Admin</a>
        </div>
        <h3>Blog Title Goes Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum
          amet tempore,
        </p>
        <a href="#" class="btn"
          >Learn More <span class="fas fa-chevron-right"></span
        ></a>
      </div>
    </div>
  </div>
</section>

<!-- blogs section end -->
