<!-- services section start -->

<section class="services" id="services">
  <h1 class="heading">Our<span>Services</span></h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-notes-medical"></i>
      <h3>Free Checkups</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-ambulance"></i>
      <h3>24/7 Ambulance</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-user-md"></i>
      <h3>Expert Doctors</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-pills"></i>
      <h3>Medicines</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-procedures"></i>
      <h3>Bed Facility</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-heartbeat"></i>
      <h3>Total Care</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>
    <div class="box">
      <i class="fas fa-user-nurse"></i>
      <h3>Nurse</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-stethoscope"></i>
      <h3>HEALTH Care</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint
        molestiae earum?
      </p>
      <a href="#" class="btn"
        >Learn More<span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>
<!-- services section  end-->
