<!-- Booking section start -->
<section class="book" id="book">
  <h1 class="heading"><span>Book</span>Now</h1>
  <div class="row">
    <div class="image">
      <img src="../../assets/images/Online Doctor (1).gif" alt="" />
    </div>

    <form action="">
      <h3>Book Appointment</h3>
      <input type="text" placeholder="your Name" class="box" />
      <input type="number" placeholder="your Number" class="box" />
      <input type="email" placeholder="your Email" class="box" />
      <input type="date" class="box" />
      <input type="submit" value="book Now" class="btn" />
    </form>
  </div>
</section>

<!-- Booking section end -->
