<!-- Review section Start -->

<section class="review" id="review">
  <h1 class="heading">Client's<span>Review</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="../../assets/images/client1.jpg" alt="" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client2.jpg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client3.jpg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review4.jpeg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/client3.jpg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review3.jpeg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review2.webp" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>

    <div class="box">
      <img src="../../assets/images/review1.jpg" />
      <h3>Dr.Amol dev</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, eius
        laudantium reiciendis tempore culpa sed eveniet sequi quisquam tenetur,
        tempora ducimus officiis, illo cupiditate itaque laboriosam. Fugit
        asperiores suscipit dolorem!
      </p>
    </div>
  </div>
</section>
<!-- Review section Start -->
