<!-- footer section start -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Quick Link</h3>
      <a href="#"><i class="fas fa-chevron-right"></i>HOME</a>
      <a href="#"><i class="fas fa-chevron-right"></i>SERVICES</a>
      <a href="#"><i class="fas fa-chevron-right"></i>ABOUT</a>
      <a href="#"><i class="fas fa-chevron-right"></i>DOCTORS</a>
      <a href="#"><i class="fas fa-chevron-right"></i>BOOK</a>
      <a href="#"><i class="fas fa-chevron-right"></i>REVIEW</a>
      <a href="#"><i class="fas fa-chevron-right"></i>BLOGS</a>
    </div>

    <div class="box">
      <h3>OUR SERVICES</h3>
      <a href="#"><i class="fas fa-chevron-right"></i>DENTAL CARE</a>
      <a href="#"><i class="fas fa-chevron-right"></i>MESSAGE THERAPY</a>
      <a href="#"><i class="fas fa-chevron-right"></i>CARDIOLOTY</a>
      <a href="#"><i class="fas fa-chevron-right"></i>DIAGNOSIS</a>
      <a href="#"><i class="fas fa-chevron-right"></i>AMBULANCE SERVICES</a>
    </div>

    <div class="box">
      <h3>CONTACT INFO</h3>
      <a href="#"><i class="fas fa-phone"></i>+123-456-7890</a>
      <a href="#"><i class="fas fa-phone"></i>+111-222-3333</a>
      <a href="#"><i class="fas fa-envelope"></i>akshayvs2448@gmail.com</a>
      <a href="#"><i class="fas fa-envelope"></i>avshimpi7@gmail.com</a>
      <a href="#"><i class="fas fa-map-marker-alt"></i>DHULE, INDIA-424318</a>
    </div>

    <div class="box">
      <h3>FOLLOW US</h3>
      <a href="#"><i class="fab fa-facebook-f"></i>FACEBOOK</a>
      <a href="#"><i class="fab fa-twitter"></i>TWITTER</a>
      <a href="#"><i class="fab fa-instagram"></i>INSTAGRAM</a>
      <a href="#"><i class="fab fa-linkedin"></i>LINKEDIN</a>
      <a href="#"><i class="fab fa-pinterest"></i>PINTEREST</a>
    </div>
  </div>
  <div class="credit">
    created by <span>[ Aksh@y Shimpi & Te@m ]</span> | ALL RIGHT RESERVED
  </div>
</section>

<!-- footer section end -->
